#cart-title {
  margin: 70px 0 50px 50px;
  color: #6e3105;
  text-align: center;
}

.cart {
  text-align: center;
  font-size: 18px;
}

.cart-image {
  width:  140px;
  height: 140px;
  object-fit: cover; 
  margin-bottom: 5px;
}

.product {
  margin-bottom: 30px;
}

#total-shopping-cart {
  color: #6e3105;
  font-size: 2em;
  margin: 15px 0px 15px 30px;
}

.cart-product-title {
  font-weight: bold;
  font-size: 20px;
}

.cart-options {
  color: #b95814;
  margin-right: 10px;	

  &:hover {
    color: #238826;
  }
}

#empty-cart {
  color: red;
  margin-left: 25px;
}
