@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing:border -box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.submit-user-btn {
  margin-top: 20px;
  background-color: #b95814; 
  color: white;
  padding: 15px 0px;
}

.submit-user-btn:active {
  background-color: #c2743d;
}

#error_explanation {
  color: red;
  
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#error_explanation {
  color: red;
  
	ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.signup-login-header {
  text-align: center;
  margin-top: 50px;
}

.signup-link {
  color: #b95814;
}

.signup-link:hover {
  color: #238826;
}

.profile {
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
}
