.selector
  %div
    %select
      %option{:value => "category"} CATEGORY
    %select
      %option{:value => "sorting"} SORTING
    %select
      %option{:value => "vegetarian"} VEGETARIAN
      
  %div
    %label.slider-price{:for => "slider"} Price:
    $9
    %input.slider{:max => "100", :min => "15", :name => "price", :type => "range"}/
    $50
        
%main.products-main
  - @products.each do |product|
    .image
      =image_tag product.image
      .food-name= product.title
      .food-type= product.description
      .food-price= product.price.to_s + ' $'       
      .add-button{:href => "#"} ADD TO CART 
      %end 
    
= link_to 'Edit products', dashboard_path, class: "add-link"
    