.selector
  %div
    %select
      %option{:value => 'category'} CATEGORY
    %select
      %option{:value => 'sorting'} SORTING
    %select
      %option{:value => 'vegetarian'} VEGETARIAN
      
  %div
    %label.slider-price{ for: 'slider' } Price:
    .slider-price $9
    %input.slider{ max: '100', min: '15', name: 'price', type: 'range' }
    .slider-price $50
        
%main.products-main
  - @products.each do |product|
    .image
      =cl_image_tag product.image.key
      .food-name= product.title
      .food-type= product.description
      .food-price= '$ ' + product.price.to_s 
      .add-button
        %a=link_to  'ADD TO CART', add_items_path(product_id: product.id), method: :post
