%hr.footer-cart-hr
  %footer.main-footer
    %ul.list-inline
      %li
        %a{:href => "#"} Home
      %li
        %a{:href => "#"} Services
      %li
        %a{:href => "#"} About
      %li
        %a{:href => "#"} Terms
      %li
        %a{:href => "#"} Privacy Policy
    %p.copy-right EurekaBistro© 2021
    
  