!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Assignment3
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    =render 'layouts/rails_default'
  %body
    =render 'layouts/header' 
    -flash.each do |messages_type, message|
      %div{:class => "alert alert-#{messages_type}"}= message
    = yield
    =render 'layouts/footer'
